<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/main.css}" />
<title>Home Page</title>
</head>
<body
	th:style="'background: url(' + @{/images/mitsu.jpg} + ') no-repeat center center fixed; background-size:100%;'">
	<div th:insert="fragments/header.html"></div>

	<table class="cars">
		<tr>
			<th>Név</th>
		</tr>
		<tbody>
			<tr th:each="Make : ${make}">
				<td><span th:text="${make.name}"></span></td>
			</tr>
		</tbody>
	</table>
</body>
</html>