<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/main.css}"/>
<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.css"/>
 
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.js"></script>
<title>Makes</title>
</head>
<body
	th:style="'background: url(' + @{/images/f40.jpg} + ') no-repeat center center fixed; background-size:100%;'">
	<div th:insert="fragments/header.html"></div>

	<table class="cars" id="cars">
		<tr>
			<th>Név</th>
		</tr>
		<tbody>
			<tr th:each="make : ${make}">
				<td><span th:text="${make.name}"></span></td>
			</tr>
		</tbody>
	</table>
		<script>
			$(document).ready(function() {
				$("#cars").DataTable({
					 "paging": true
				});
			})
		</script>
	
</body>
</html>